.sort-selector {
    margin-left: 20px !important;
}

@media only screen and (min-width: 992px) {
    /* For the sort selector to stay on right */
    .sort-selector {
        margin-left: auto !important;
    }

    .photo-nav .section, .label {
        font-size: 18px !important;
    }

    .photo-nav .dropdown {
        font-size: 15px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .photo-nav .section, .label {
        font-size: 25px !important;
    }

    .photo-nav .dropdown {
        font-size: 18px !important;
    }
}

/* Image Gallery */
.image-block-div {
    margin-bottom: 30px;
    text-align: center;
}

.image-block {
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s;

    height: 350px;
    width: 90%;
}

.image-block:hover {
    opacity: 0.7;
    transform: scale(1.02, 1.02);
}

@media only screen and (min-width: 768px) {
    .image-block {
        width: 95%;
        height: 300px;
    }

    .image-block-div:nth-child(even) {
        text-align: right;
    }

    .image-block-div:nth-child(odd) {
        text-align: left;
    }
}

@media only screen and (min-width: 1200px) {
    .image-block {
        width: 90%;
        height: 250px
    }

    .image-block-div:nth-child(even) {
        text-align: inherit;
    }

    .image-block-div:nth-child(3n+1) {
        text-align: left;
    }

    .image-block-div:nth-child(3n+2) {
        text-align: center;
    }

    .image-block-div:nth-child(3n+3) {
        text-align: right;
    }
}


/* Image Modal Styles */

.modal {
    position: fixed;
    z-index: 20;
    padding: 50px 80px;
    left: 0;
    top: 0;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.95);
}

.image-title {
    color: white;
    font-size: 60px;
    font-family: DarkerGrotesque;
    font-weight: 800;
    border-bottom: 3px solid #FFC42E;
    margin-bottom: 50px;
}

.big-image {
    width: 100%;
}

.image-credits {
    color: white;
    font-family: DarkerGrotesque;
    font-weight: 600;
    font-size: 25px;
    padding-top: 10px;
}

.image-desc {
    font-family: DarkerGrotesque;
    font-weight: 500;
    font-size: 30px;
    color: white;
    padding-left: 30px;
}

.big-image, .image-title, .image-desc, .image-credits {
    animation-name: zoom;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 50px;
    right: 80px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 30;
}

.close:hover{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
