.photo-div {
    text-align: center;
}

.year-selection {
    display: flex;

    justify-content: center;
    margin-bottom: 25px;
}

@media only screen and (min-width: 992px) {
    .year-selection {
        justify-content: start;
        margin-bottom: 50px;
    }
}

/* Board People */
.person {
    display: flex;
    margin-bottom: 50px;
}

.board-photo {
    border-radius: 100%;
    border: 3px solid rgb(31, 18, 18);

    width: 70%;
}

.info {
    text-align: center;
}

.board-name {
    font-family: DarkerGrotesque;
    font-weight: 700;
    color: white;

    font-size: 36px;
}

.board-title {
    font-family: Abel;
    color: #9D8DF1;

    font-size: 20px;
}

.board-desc {
    font-family: DarkerGrotesque;
    font-weight: 400;
    margin-top: 20px;
    color: white;

    font-size: 19px;
}

@media only screen and (min-width: 768px) {
    .board-photo {
        width: 40%;
    }

    .board-name {
        font-size: 40px;
    }

    .board-title {
        font-size: 24px;
    }

    .board-desc {
        font-size: 22px;
    }
}

@media only screen and (min-width: 992px) {
    .board-photo {
        width: 100%;
    }

    .info {
        margin-left: 40px;
        text-align: left;
    }

    .board-name {
        font-size: 48px;
    }

    .board-title {
        font-size: 25px;
    }

    .board-desc {
        margin-top: 20px;
    }
}
