
/* Board People */
.board-members {

}

.person {
    display: flex;
    /* height: 50vh; */
    margin: 50px 0;
}

.board-photo {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 3px solid #FFC42E;
}

.info {
    margin-left: 40px;
}

.board-name {
    font-family: DarkerGrotesque;
    font-weight: 700;
    font-size: 48px;
    color: white;
}

.board-title {
    font-family: Abel;
    font-size: 25px;
    color: #FFC42E;
}

.board-desc {
    font-family: DarkerGrotesque;
    font-weight: 400;
    font-size: 24px;
    margin-top: 20px;
    color: white;
}
