.sentence {
    display: flex;
    color: white;
    font-family: DarkerGrotesque;
    font-weight: 600;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.contact-link{
    color: #9D8DF1;
    transition: 0.4s;
    text-decoration: none;
}

.contact-link:visited {
    color: #9D8DF1;
    transition: 0.4s;
    text-decoration: none;
}

.contact-link:hover {
    color: rgb(171, 161, 212);
}

@media only screen and (min-width: 992px) {
    .sentence{
        text-align: left;
        margin-bottom: 30px;
    }
}

.fab {
    padding: 10px;
    border-radius: 5px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-right: 45px;
    margin-left: 45px;
    transform: scale(2.5, 2.6);
    border: 0.5px solid white;
    transition: 0.3s;

}

.fab-container{
  display: flex;
  justify-content: center;
}

.fab:hover {
    opacity: 0.8;
    transform: scale(2.7, 2.7);
}

.fa-facebook{
    background: #3B5998;
    color: white;
    display: flex;
  justify-content: center;
  align-items: center;
}

.fa-instagram {
    background: #E1306C;
    color: white;
    text-align: center;
    display: inline-block;
}

.fa-youtube {
    background: #bb0000;
    color: white;
    text-align: center;
    display: inline-block;
}

.fa-tiktok {
    background: #000000;
    color: white;
    text-align: center;
    display: inline-block;
}
