.section-name {
    color: white;
}

.resource-bar {
    display: flex;
    font-family: "Gugi";
}

.resource-bar-items {
    color: white;
    margin: 20px;
}

.resource-bar-items:hover {
    color: #FFF500;
    text-decoration: underline;
}

.section-component {
    color: white;
    font-size: 30px;
}

.header {
    color: white;
    margin-bottom: 10px;
    font-family: "Gugi";
}

.desc {
    color: white;
    margin-top: 7px;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: "Timmana";
}

.video {
    margin: 0 auto;
    border: 2px white solid;
}