/* Info Box */

.infobox {
    text-align: center;
    margin-bottom: 35px;
}

@media only screen and (min-width: 992px) {
    .infobox {
        text-align: left;
        margin-bottom: 50px;
    }
}

/* General Resources */
.header {
    color: #E4CA87;
    font-family: DarkerGrotesque;
    font-weight: 500;

    line-height: 0.8em;
    font-size: 35px;
    margin-bottom: 20px;
}


.desc {
    color: white;
    font-family: Abel;

    font-size: 17px;
}

.resource-video-div {
    display: flex;
    justify-content: center;
}

.video {
    margin: 0 auto;
    border: 2px white solid;

    height: 250px;
    width: 100%;
}

@media only screen and (min-width: 568px) {
    .video {
        height: 350px;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .header {
        font-size: 40px;
        margin-bottom: 17px;
    }

    .desc {
        font-size: 19px;
    }

    .video {
        margin: 0 auto;
        height: 400px;
        width: 700px;
    }
}

@media only screen and (min-width: 992px) {
    .header {
        font-size: 45px;
        margin-bottom: 17px;
    }

    .desc {
        font-size: 20px;
    }

    .resource-video-div {
        display: block;
    }

    .video {
        height: 500px;
        width: 890px;
    }
}

/* Equipment Box */

.equipment-header {
    color: #E4CA87;
    font-family: DarkerGrotesque;
    font-weight: 500;

    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

.item-box {
    display: flex;
    margin-bottom: 80px;
}

.item-text {
    font-family: Abel;
    margin-left: 0;
    text-align: center;
}

.resource-link {
    color: #FFC42E;
    transition: 0.4s;
    text-decoration: none;
}

.resource-link:visited {
    color: #FFC42E;
}

.resource-link:hover {
    color: orange;
}

.item-name {
    color: #FFC42E;
    transition: 0.4s;
    text-decoration: none;

    font-size: 24px;
}

.item-name:visited {
    color: #FFC42E;
}

.item-name:hover {
    color: orange;
}

.item-description {
    color: white;

    font-size: 18px;
}

.item-image {
    border: 3px white solid;
    border-radius: 20px;
    transition: 0.3s;

    width: 80%;
    margin-bottom: 20px;
}

.item-image:hover {
    transform: scale(1.01, 1.01);
}

@media only screen and (min-width: 576px) {
    .item-image {
        width: 60%;
        margin-bottom: 30px;
    }
}


@media only screen and (min-width: 768px) {
    .equipment-header {
        margin-bottom: 30px;
        font-size: 40px;
        text-align: center;
    }

    .item-image {
        width: 40%;
    }

    .item-name {
        font-size: 30px;
    }

    .item-description {
        font-size: 22px;
    }
}

@media only screen and (min-width: 992px) {
    .item-image {
        width: 100%;
        margin-bottom: 0;
    }

    .equipment-header {
        margin-bottom: 30px;
        font-size: 50px;
        text-align: left;
    }

    .item-text {
        margin-left: 30px;
        text-align: left;
    }

    .item-name {
        font-size: 35px;
    }

    .item-description {
        font-size: 25px;
    }
}

@media only screen and (min-width: 1200px) {
    .item-name {
        font-size: 40px;
    }

    .item-description {
        font-size: 30px;
    }
}

/* Youtube Box */
.youtube-channels {
    display: flex;
}

.youtube-box {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    text-align: center;
    transition: 0.2s;
}

.youtube-box:hover p {
    color: white;
    position: absolute;
    display: block;
    top: 37%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 600;
    color: white;
    transition: 0.2s;
}

.youtube-box:hover img {
    opacity: .6;
    transform: scale(1.03, 1.03);
}

.youtube-box p {
    display: none;
    font-family: "Abel";
    font-weight: 600;
    font-size: 26px;
}

.youtube-image {
    height: 200px;
    border-radius: 20px;
    border: 3px white solid;
    transition: 0.2s;
}

.youtube-image:hover {
    opacity: .6;
    transition: 0.2s;
    transform: scale(1.03, 1.03);
}
