/* General Page Styles */
.background {
    transition-duration: 5s;
}

.background-dark {
    background: linear-gradient(180deg, rgba(12, 0, 147, 0.88) 7.29%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(51, 0, 91, 0) 0%, #1B0030 100%), #1F1F1F;
}

.background-light {
    background: linear-gradient(180deg, #007BAF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(218, 78, 0, 0.75) 100%), linear-gradient(0deg, #630000, #630000), linear-gradient(0deg, #6300B1, #6300B1), linear-gradient(0deg, #E7E7E7, #E7E7E7);
}

/* Extra Small */
.page {
    padding: 100px 20px;
    transition: 0.5s;
}

.pageHeader {
    color: white;
    font-family: DarkerGrotesque;
    font-weight: 700;
    font-size: 40px;
    border-bottom: 3px solid #FFC42E;
    transition: 0.5s;
    text-align: center;
}

/* Small */
@media only screen and (min-width: 576px) {
    .page {
        padding: 100px 20px;
        transition: 0.5s;
    }

    .pageHeader {
        color: white;
        font-family: DarkerGrotesque;
        font-weight: 700;
        font-size: 70px;
        border-bottom: 3px solid #FFC42E;
        transition: 0.6s;
        text-align: center;
    }
}

/* Medium (Start of Mobile) */
@media only screen and (min-width: 768px) {
    .page {
        padding: 100px 20px;
        transition: 0.5s;
    }

    .pageHeader {
        color: white;
        font-family: DarkerGrotesque;
        font-weight: 700;
        font-size: 70px;
        border-bottom: 3px solid #FFC42E;
        transition: 0.5s;
        text-align: center;
    }
}

/* Large */
@media only screen and (min-width: 992px) {
    .page {
        padding: 110px 80px;
        transition: 0.5s;
    }

    .pageHeader {
        color: white;
        font-family: DarkerGrotesque;
        font-weight: 700;
        font-size: 80px;
        border-bottom: 3px solid #FFC42E;
        transition: 0.5s;
        text-align: left;

    }
}

/* Extra Large */
@media only screen and (min-width: 1200px) {
    .page {
        padding: 120px 80px;
        transition: 0.5s;
    }

    .pageHeader {
        color: white;
        font-family: DarkerGrotesque;
        font-weight: 700;
        font-size: 90px;
        border-bottom: 3px solid #FFC42E;
        transition: 0.5s;
        text-align: left;
    }
}

/* Selector Styles */

.selector {
    display: flex;
    margin: 10px 0;
}

.selector .label {
    font-family: Abel;
    font-size: 20px;
    color: white;
    margin-right: 10px;
}

.selector .dropdown {
    font-size: 16px;
    font-family: Abel;
}

@media only screen and (min-width: 576px) {
    .selector {
        display: flex;
        margin: 10px 0;
    }

    .selector .label {
        font-family: Abel;
        font-size: 24px;
        color: white;
        margin-right: 10px;
    }

    .selector .dropdown {
        font-size: 18px;
        font-family: Abel;
    }
}

@media only screen and (min-width: 992px) {
    .selector {
        display: flex;
        margin: 20px 0 0;
    }

    .selector .label {
        font-family: Abel;
        font-size: 28px;
        color: white;
        margin-right: 10px;
    }

    .selector .dropdown {
        font-size: 20px;
        font-family: Abel;
    }
}

/* Section Navigation */
.section-nav {
    margin: 0 auto 20px;
}

@media only screen and (min-width: 768px) {
    .section-nav {
        margin: 0 auto 50px;
    }
}

.section {
    color: white;
    font-size: 28px;
    font-family: Abel;
    margin: 20px 30px 0 0;
    transition: 0.45s;
}

.section:hover {
    color: #FFC42E;
    cursor: pointer;
}

.section-active {
    color: #FFC42E;
    text-decoration: underline;
}
