body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: Gugi;
    src: url(./fonts/Gugi-Regular.ttf);
}

@font-face {
    font-family: Timmana;
    src: url(./fonts/Timmana-Regular.ttf);
}

@font-face {
    font-family: DarkerGrotesque;
    src: url(./fonts/DarkerGrotesque-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: DarkerGrotesque;
    src: url(./fonts/DarkerGrotesque-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: DarkerGrotesque;
    src: url(./fonts/DarkerGrotesque-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: DarkerGrotesque;
    src: url(./fonts/DarkerGrotesque-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: DarkerGrotesque;
    src: url(./fonts/DarkerGrotesque-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: DarkerGrotesque;
    src: url(./fonts/DarkerGrotesque-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: DarkerGrotesque;
    src: url(./fonts/DarkerGrotesque-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Abel;
    src: url(./fonts/Abel-Regular.ttf);
}
