body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
    font-family: Gugi;
    src: url(./fonts/Gugi-Regular.ttf);
}

@font-face {
    font-family: Timmana;
    src: url(./fonts/Timmana-Regular.ttf);
}
