.error {
    text-align: center;
    color: white;
    font-weight: 600;
    font-family: DarkerGrotesque;
    height: 100vh;
}

.error-header {
    margin-top: 50px;
    font-size: 50px;
}

.error-message {
    font-size: 20px;
}

.move-selector {
    font-size: 20px;
    font-family: Abel;
    margin: 30px auto;
}

.canvas {
    margin: 0 auto;
}
