.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: DarkerGrotesque;
    font-weight: 500;
    padding: 50px 0 30px;
}

.footer-light {
    background: linear-gradient(360deg, rgba(219, 54, 54, 0.295) 53.73%, rgba(255, 37, 7, 0) 100%);
}

.footer-dark {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.25) 53.73%, rgba(0, 0, 0, 0) 100%);

}

.github-logo {
    width: 40px;
}

.made-with {
    font-size: 25px;
}

.react-logo {
    width: 30px;
    margin-left: 10px;
    margin-bottom: -5px;
    animation: rotate 10s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.created-by {
    font-size: 16px;
    margin: 5px 0px 10px;
}
