.navbar {
    display: flex;
}

.navlinks {
    font-family: Gugi;
    padding: 50px 40px;
    font-size: 20px;
}

.navlinks a {
    text-decoration: none;
    color: white;
}

.link-div {
    display: flex;
    margin-left: auto;
}

.logo {
    padding: 30px;
    width: 130px;
}
