/* Non responsive CSS */
.navbar {
    display: flex;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
}

.navlink a {
    text-decoration: none;
    color: white;
    transition: 0.4s;
}

.navlink-active a {
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #FFC42E;
    color: #FFC42E;
}

.navlink a:hover {
    color: #FFC42E;
}

.link-div {
    margin-left: auto;
}

/* Stuff for Mobile Navbar*/
.mobile-link-div {
    position: fixed;
    width: 100%;
    z-index: -1;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
    box-shadow: 2px 2px 20px 2px #000000;
    animation: growDown 0.3s ease-in-out forwards;
    transform-origin: top;
}

@keyframes growDown{
    0% {transform: scaleY(0);}
    80% {transform: scaleY(1.05);}
    100% {transform: scaleY(1);}
}

.dark-nav {
    background-color: rgba(19, 0, 73, 0.95);
}

.light-nav {
    background-color: rgba(1, 123, 175, 0.95);
}

.hamburger {
    margin-top: 40px;
    margin-right: 20px;
    margin-left: auto;
    flex-direction: column;
    transition: 0.5s;
}

.vert-hamburger {
    margin-right: 35px;
    margin-top: 25px;
    transform: rotate(90deg);
    transform-origin: center;
}

.rect {
    width: 40px;
    height: 8px;
    margin-bottom: 6px;
    background-color: white;
}

.rect:last-child {
    margin-bottom: 0px;
}


/*
##############
Responsive CSS
##############
*/

/* Medium and below */
.navlink {
    font-family: Abel;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
}

.logo {
    padding: 30px 0 0 20px;
    width: 80px;
    transition: 0.5s;
}

/* Large */
@media only screen and (min-width: 992px) {
    .navlink {
        font-family: Abel;
        padding: 45px 35px;
        font-size: 20px;
        font-weight: bold;
    }

    .navlink:last-child {
        padding-right: 80px;
    }

    .homepage-navlink:last-child {
        padding-right: 95px !important;
    }

    .logo {
        padding: 20px 0 0 80px;
        width: 110px;
        transition: 0.5s;
    }
}

/*
Extra Large Screens

- Navbar should show up like normal
- Logo should also be normal

*/
@media only screen and (min-width: 1200px) {
    .navlink {
        font-family: Abel;
        padding: 60px 40px;
        font-size: 28px;
        font-weight: bold;
    }

    .navlink:last-child {
        padding-right: 80px;
    }

    .homepage-navlink:last-child {
        padding-right: 95px !important;
    }

    .logo {
        padding: 30px 0 0 80px;
        width: 130px;
        transition: 0.5s;
    }
}
