/* Pagination */
.pagination {
    font-family: DarkerGrotesque;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    color: white;
    user-select: none;

    font-size: 22px;
    margin-bottom: 10px;
}

@media only screen and (min-width: 576px) {
    .pagination {
        margin-bottom: 20px;
        font-size: 30px;
    }
}

@media only screen and (min-width: 992px) {
    .pagination {
        font-size: 35px;
    }
}

.page-button {
    cursor: pointer;
}

.page-button:hover {
    transform: scale(1.03, 1.02);
    transition: 0.4s;
    color: #FFC42E;
}

.button-disable {
    color: #838383;
    cursor: not-allowed;
}

.button-disable:hover {
    transform: none !important;
    color: #838383;
}